  numpy
  scipy
  xarray
  dask
  seaborn
  cftime
  nc-time-axis
  scikit-learn
  ruamel.yaml
  jinja2
  pylint
  matplotlib
  netcdf4
  mache
  pandas
  nco
  cartopy
  pybtex
  f90nml
  livvkit>=3.3.0
